.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  cursor: pointer;

  color: white;
  background: #282c34;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid white;
}

.btn:hover {
  color: black;
  background: white;
}

.btn:focus {
  outline: none;
}

input {
  color: black;
  background: white;

  padding: 4px;
  margin: 5px;

  border-radius: 2px;
  border: 2px solid white;
}

input:focus {
  outline: none;
}

.searchbar {
  width: 300px;
}

.todoItem {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;

  padding: 5px;
  margin: 5px;
}

.list-item {
  border: 2px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.taskAdder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 2px solid white;
  padding: 10px;

  margin: 5px;
}

#todo-list {
  width: 500px;
  list-style: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}